.jumbotron {
    border-bottom: 8px solid black;

};

table {
    border-collapse: initial;  
}


.textarea {
    background: lightyellow;
}
.align-middle {
    background: white;

}
th.col.textarea {
    padding: 0px;
}

.form-control{
    background: lightgreen;
}

.save {
    background: lightsteelblue;

}
button {
    margin-top: 30%;
}
ht
